<section class="about-container">
    <div class="text-section">
      <h1 class="about-title">Sobre</h1>
      <p class="about-text">Aqui vai o texto sobre a sua empresa, projeto ou qualquer outro detalhe importante. Este é um lugar para fornecer uma visão geral que ajudará seus visitantes a entender melhor sua missão, valores ou serviços.</p>
    </div>
    <div class="images-section">
      <div class="top-image">
        <img src="assets/fotos/perfil.jpeg" alt="Imagem Principal">
      </div>
      <div class="bottom-images">
        <div class="bottom-image">
          <img src="assets/fotos/medico.jpg" alt="Imagem Menor 1">
        </div>
        <div class="bottom-image">
          <img src="assets/fotos/paisagem.jpg" alt="Imagem Menor 2">
        </div>
      </div>
    </div>
  </section>